<div >
  <div>
  <div class="card h-100" *ngIf="data">
      <!-- Product image-->
      <img class="card-img-top" src="{{data.image}}" height="32%" alt="..." />
      <!-- Product details-->
      <div class="card-body p-4">
          <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">{{data.name}}</h5>
              <!-- Product price-->
              <mark>{{data.price}} $</mark>

              <hr>

              <div >
                <select class="form-control " style="width: 110px;
                margin:0 auto;" [(ngModel)]="data.amount">
                 <option *ngFor="let itemAmmount of Ammount" value={{itemAmmount}}>{{itemAmmount}}</option>
                </select>
              </div>
          </div>
      </div>
      <!-- Product actions-->
      <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
          <div class="text-center"><a class="btn btn-outline-dark mt-auto"  routerLink="/product/{{data.id}}" >View Product</a></div>
      </div>
      <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
        <div class="text-center"><button class="btn btn-primary mt-auto"  (click)="add()" >Add to cart</button></div>
    </div>
  </div>
</div>
